apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: about-swag-config
  namespace: heezy
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: rook-ceph-block